Makefile
.DS_Store
.idea
.com.apple.timemachine.supported
config/application.yml
sphinx.yml
tasks.god
log/*.log
log/*
tmp/**/*
tmp/*
config/database.yml
config/development.sphinx.conf
config/initializers/paperclip.rb
db/schema.rb
db/sphinx
db/test.sqlite3
nbproject
*~
*.swp
Thumbs.db
coverage
#Vim temproart files
public/system
scratch_directory
TAGS
scripts_compressed.js
.bundle
.rvmrc
